{% extends 'base.html' %}

{% block title %}About Desert Tourism{% endblock title %}
{% block body %}
<div class="bg-light py-5 px-5">
    <p>
        Desert tourism refers to travel to desert regions, which are characterized by their arid or semi-arid climates and sparse vegetation. These areas are often known for their unique landscapes, rich cultural histories, and adventure opportunities.
    </p>
    <p>
        If you are interested in desert tourism and are planning to travel from India, there are several destinations to consider. Some popular options include:
    </p>
    <p>
        <h4>Thar Desert:</h4> Located in the western state of Rajasthan, the Thar Desert is known for its golden sands, ancient forts and palaces, and vibrant local culture. Tourists can experience camel safaris, visit traditional villages, and stay in luxury tents or heritage hotels. The cost of a desert tour in the Thar Desert can vary depending on the length of the trip and the type of activities included, but prices typically range from INR 5,000 to INR 20,000 per person.
    </p>
    <p>
        <h4>Rann of Kutch:</h4> Located in the western state of Gujarat, the Rann of Kutch is a salt marsh that turns into a vast white desert during the dry season. It is home to unique flora and fauna, as well as a number of cultural festivals. Tourists can visit the Banni grasslands, watch the sunset over the salt flats, and participate in local handicraft workshops. The cost of a desert tour in the Rann of Kutch can range from INR 5,000 to INR 15,000 per person.
    </p>
    <p>
       <h4>Great Indian Desert:</h4>Located in the northwestern states of Rajasthan and Gujarat, the Great Indian Desert is home to a number of national parks and wildlife sanctuaries, including the Desert National Park and the Kumbhalgarh Wildlife Sanctuary. Tourists can go on jeep safaris, visit ancient temples, and learn about the local tribal culture. The cost of a desert tour in the Great Indian Desert can range from INR 5,000 to INR 20,000 per person.
    </p>
 
    <p>
        These are just a few examples of the many desert destinations that are available for tourists traveling from India. The cost of a desert tour will depend on a variety of factors, including the length of the trip, the type of activities included, and the level of accommodation.
    </p>
</div>
{% endblock body %}