{% extends 'base.html' %}

{% block title %}About Desert Tourism{% endblock title %}
{% block body %}
<div class="bg-light py-5 px-5">
    <p>
        Forest tourism, also known as eco-tourism or nature tourism, involves visiting natural areas and forests for the purpose of recreation, education, and appreciation of the environment. This type of tourism can provide an opportunity to learn about the flora, fauna, and ecosystems of the region, as well as the culture and traditions of the local community.
    </p>
    <p>
        There are many beautiful forests and natural areas in India that are popular destinations for forest tourism. Some of these include:
    </p>
    <p>
        <h4>The Western Ghats</h4>The Western Ghats, a mountain range in the western part of the country that is home to a diverse range of flora and fauna, including many endangered species. The Western Ghats are a UNESCO World Heritage Site and offer a variety of activities, such as trekking, birdwatching, and rafting.
    </p>
    <p>
        <h4>The Sundarbans</h4>The Sundarbans, a vast mangrove forest in the delta of the Ganges, Brahmaputra, and Meghna rivers that is home to the Bengal tiger and other wildlife. The Sundarbans can be visited by boat and offer opportunities for birdwatching and wildlife viewing.


    </p>
    <p>
        <h4>The Kaziranga National Park</h4>The Kaziranga National Park, a protected area in the state of Assam that is home to the one-horned rhinoceros, as well as other wildlife such as elephants, tigers, and water buffalo. Kaziranga is a popular destination for safari tours.
    </p>
 <p>
    <h4>The Himalayan forests</h4>The Himalayan forests, which are home to a variety of wildlife, including snow leopards, red pandas, and blue sheep. The Himalayas offer many opportunities for trekking and other outdoor activities.
 </p>
    <p>
        The cost of forest tourism in India will vary depending on the destination, duration of the trip, and the type of activities you choose. Generally, you can expect to pay between 5,000 and 20,000 Indian rupees (INR) per person per day for a guided tour, which includes accommodation, meals, and transportation.
    </p>
</div>
{% endblock body %}