{% extends 'base.html' %}

{% block title %}About Water Tourism{% endblock title %}
{% block body %}
<div class="bg-light py-5 px-5">
    <p>
        Monument tourism is a popular type of travel that involves visiting historical landmarks and structures, such as castles, temples, and statues. These types of sites often hold significant cultural or historical value, and many travelers find them to be interesting and educational.
    </p>
    <p>
        There are many monuments and historical sites to visit in India, including:
    </p>
    <p>
        <h4>The Taj Mahal:</h4> This iconic mausoleum in Agra is one of the most famous and visited landmarks in the world. It was built in the 17th century by Mughal Emperor Shah Jahan as a tribute to his wife, and is considered a symbol of love and beauty.
    </p>
    <p>
        <h4>The Red Fort:</h4> This red sandstone fort in Delhi was built in the mid-17th century and served as the main residence of the Mughal emperors. It is a UNESCO World Heritage Site and is known for its intricate architecture and historical significance.
    </p>
    <p>
        <h4>The Golden Temple:</h4>Located in Amritsar, the Golden Temple is the holiest site in Sikhism. It is a stunningly beautiful temple made of marble and covered in gold leaf, and is a popular destination for both pilgrims and tourists.
    </p>
    <p>
        The Ajanta and Ellora Caves: These ancient Buddhist caves in Maharashtra are a UNESCO World Heritage Site and are known for their impressive rock-cut architecture and beautiful frescoes.
    </p>
    <p>
        The cost of visiting these monuments will depend on various factors such as transportation, accommodation, and the specific tours or activities that you choose. It is generally cheaper to visit monuments and historical sites in India compared to other countries, but prices can still vary greatly. It is a good idea to research and compare prices before making any travel arrangements.
    </p>
</div>
{% endblock body %}